.wave {
  background: #ffffff;
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    .chart-box {
      position: absolute;
      margin: auto;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .tools {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    text-align: center;
  }
  input {
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    text-align: center;
  }
  button {
    border-radius: 5px;
    padding: 5px;
  }
}
